:root {
    --orange-color: #D1884F;
    --main-color: #008AAA;
    --seconde-color:#3BBADB;
    --white-color:#fff;
    --section-padding: 100px;
  }
 
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .nav ul{
    display: flex;
    justify-content: flex-end;
  }
  .nav ul li{
    margin-left: 40px;
    list-style: none;
    transition: 0.8s;
    -webkit-transition: 0.8s;
    cursor: pointer;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
}
  .nav ul li:hover{
    color: var(--orange-color);
  }
  .main-content{
    padding-top: var(--section-padding);
  }
  
  .main-content h3{
    color: var(--seconde-color);
  }
  .main-content{
    display: flex;
    justify-content: space-between;
  }
  .main-content img{
    width: 400px;
    height: 400px;
    border-bottom-left-radius: 200px;
  }
  .main-content .image{
    position: relative;
  }
  .main-content .image::before{
    content: "";
    position: absolute;
    background-color: rgb(63 190 215 / 50%);
    right: 70px;
    width: 350px;
    height: 350px;
    top: 48px;
    border-bottom-left-radius: 200px;
    z-index: -50;

  }
  .main-content h1{
    font-size: 50px;
    width: 550px;
    color: var(--main-color);
  }
  .main-content h1 span{
    color: var(--orange-color);
  }
  .main-content article{
    width: 550px;
    line-height: 1.7;
    font-weight: 700;
    margin-bottom: 40px;
  }
  .main-content .buttons button:first-child{
   border: none;
   background-color: var(--main-color);
   padding: 8px 15px;
   color: var(--white-color);
   border-radius: 6px;
   -webkit-border-radius: 6px;
   font-size: 14px;
   -moz-border-radius: 6px;
   -ms-border-radius: 6px;
   -o-border-radius: 6px;
}
.main-content .buttons button:last-child{
    padding: 8px 15px;
    background: transparent;
    color: var(--seconde-color);
    border: 2px solid var(--seconde-color);
    font-size: 14px;
    border-radius: 6px;
    margin-left: 15px;
    -webkit-border-radius: 6px;
    font-weight: 500;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    word-spacing: 5px;
    -o-border-radius: 6px;
}
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
@media (max-width:1024px){
  .main-content img{
    width: 300px;
    height: 300px;
}
.main-content .image::before{
    width: 250px;
    height: 250px;
    top: 100px;
}
}
@media (max-width:824px){
    .main-content{
        flex-direction: column;
        align-items: center;
    }
    .main-content img{
        margin-top: 50px;
    }
    .nav ul{
        justify-content: center;
    }
}

@media (max-width:500px){
   .main-content h1{
        font-size: 18px;
    }
    .main-content{
        text-align: center;
    }
    .main-content article{
      width: 350px;
      margin: 20px auto;
    }
    .nav ul li{
        margin-left: 20px;
    }
    .nav{
        margin-right: 50px;
    }
}